# Secrets and Environment
.env
.Renviron

# R files
.Rhistory
.RData
.Ruserdata
.Rapp.history
*-ex.R
/conn-cache/

# LaTeX files
*.aux
*.log
*.toc
*.pdf
*.gz
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.blg
*.bbl

# OS files
.DS_Store

# Hidden files, JSON, DB
.*
!.gitignore
!.github/
*.json
*.db
